{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    {% block css %} {% endblock css %}
  </head>
  <body>
    <div class="background-container">
      <header>
        <div class="header-container">
          <div class="header-panel">
            <div class="logo-burger-container">
              <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="logo">
                <a href="{% url 'main:index' %}" class="logo-href">
                  <img src="{% static 'gif/hatyn_sisters.gif' %}" />
                </a>
              </div>
            </div>

            <div class="sound-and-search">
              <div class="sound">
                <button class="sound-off" onclick="soundStop()"></button>
                <button class="sound-on" onclick="soundStart()"></button>
              </div>
              <div class="search">
                <div class="search-field">
                  <input
                    type="search"
                    list="eventslist"
                    class="search-input-class"
                    name="search-input"
                    placeholder="Поиск по событиям"
                    oninput="handleSearchInputEvents(this.value)"
                  />
                </div>
                <datalist id="eventslist">
                  {% for e in events_obj_context %}
                  <option
                    value="{{e.name}}"
                    data-link="{{ e.get_absolute_url }}"
                  ></option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="main-container">
          <div class="menu">
            <nav>
              <div class="menu-burger-ul">
                <ul>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:index' %}"
                      >Главная</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:map' %}"
                      >Карта</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:monument' %}"
                      >Памятник "Непокоренный"</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:bells' %}"
                      >Колокола Хатыни</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:villages' %}"
                      >Все деревни</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:events' %}"
                      >Все события</a
                    >
                  </li>
                  <li>
                    <a
                      class="menu-burger-li"
                      href="{% url 'main:create_event' %}"
                      >Создать событие</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          {% block content %} {% endblock content %}
        </div>
      </main>
      {% block footer %} {% endblock footer %}
    </div>
    <audio
      src="{% static 'audio/zvon-kolokola-bez-nazvaniya.mp3' %}"
      id="audio"
      autoplay
      loop
      autobuffer
    ></audio>
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/audio.js' %}"></script>
    <script src="{% static 'js/searchInputs.js' %}"></script>
    {% block script %} {% endblock script %}
  </body>
</html>
