{% extends 'main/base.html' %} {% load static %} {% block css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock css %} {% block content %} {% for b in bells_obj %}
<h2 class="bells-information-title">{{ b.name }}</h2>
<div class="bells-information">
  <div class="bells-information-text-image-container">
    {% if b.image %}
    <div class="bells-information-img-container">
      <img
        src="{{ b.image.url }}"
        class="bells-information-img"
        alt="Bells information"
      />
    </div>
    {% endif %}
    <div class="bells-information-text-container">
      {% autoescape off %} {{ b.description }} {% endautoescape %}
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
