{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="main-page-background-container">
      <header>
        <div class="header-container">
          <div class="header-panel">
            <div class="logo">
              <a href="{% url 'main:index' %}" class="logo-href">
                <img src="{% static 'img/logo.png' %}" alt="logo" />
              </a>
            </div>
            <div class="sound-and-search">
              <div class="sound">
                <button class="sound-off"></button>
                <button class="sound-on"></button>
              </div>
              <div class="search">
                <div class="search-field">
                  <input
                    type="search"
                    class="search-input-class"
                    name="search-input"
                    placeholder="Поиск по событиям"
                  />
                </div>
                <div class="search-image">
                  <button class="search-loupe"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="main-container">
          <div class="nav-items">
            <a href="{% url 'main:map' %}" class="nav-item-map"
              >Карта</a
            >
            <a href="{% url 'main:monument' %}" class="nav-item-monument"
              >Памятник "Непокоренный"</a
            >
            <a href="{% url 'main:bells' %}" class="nav-item-bells"
              >Колокола Хатыни</a
            >
            <a href="{% url 'main:villages' %}" class="nav-item-villages"
              >Все деревни</a
            >
            <a href="#" class="nav-item-events">Все события</a>
            <a href="#" class="nav-item-create-event">Создать событие</a>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
