{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{% static 'js/slick-lib/slick/slick.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'js/slick-lib/slick/slick-theme.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="main-page-background-container">
      <header>
        <div class="header-container">
          <div class="header-panel">
            <div class="logo-burger-container">
              <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="logo">
                <a href="{% url 'main:index' %}" class="logo-href">
                  <img src="{% static 'gif/hatyn_sisters.gif' %}" />
                </a>
              </div>
            </div>

            <div class="sound-and-search">
              <div class="sound">
                <button class="sound-off" onclick="soundStop()"></button>
                <button class="sound-on" onclick="soundStart()"></button>
              </div>
              <div class="search">
                <div class="search-field">
                  <input
                    type="search"
                    class="search-input-class"
                    name="search-input"
                    placeholder="Поиск по событиям"
                  />
                </div>
                <div class="search-image">
                  <button class="search-loupe"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="main-container">
          <div class="menu">
            <nav>
              <div class="menu-burger-ul">
                <ul>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:index' %}"
                      >Главная</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:map' %}"
                      >Карта</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:monument' %}"
                      >Памятник "Непокоренный"</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:bells' %}"
                      >Колокола Хатыни</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:villages' %}"
                      >Все деревни</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:events' %}"
                      >Все события</a
                    >
                  </li>
                  <li>
                    <a class="menu-burger-li" href="{% url 'main:villages' %}"
                      >Создать событие</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="slider-container">
            <div class="slider slick-vertical">
              {% for v in villages_obj %}
              <div class="slider-item">
                <a href="{% url 'main:village' v.pk %}"
                  ><img src="{{ v.cover.url }}"
                /></a>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="villages-stone-items">
            <a href="{% url 'main:village' 2 %}"
              ><img src="{% static 'img/Хатынь.png' %}"
            /></a>
            <a href="{% url 'main:village' 3 %}"
              ><img src="{% static 'img/Бабино.png' %}"
            /></a>
            <a href="{% url 'main:village' 4 %}"
              ><img src="{% static 'img/Зиняки.png' %}"
            /></a>
            <a href="{% url 'main:village' 5 %}"
              ><img src="{% static 'img/Шкленск.png' %}"
            /></a>
            <a href="{% url 'main:village' 7 %}"
              ><img src="{% static 'img/Княжеводцы.png' %}"
            /></a>
            <a href="{% url 'main:village' 8 %}"
              ><img src="{% static 'img/Шауличи.png' %}"
            /></a>
            <a href="{% url 'main:village' 9 %}"
              ><img src="{% static 'img/Тонеж.png' %}"
            /></a>
            <a href="{% url 'main:village' 10 %}"
              ><img src="{% static 'img/Милошевичи.png' %}"
            /></a>
          </div>
        </div>
      </main>
    </div>
    <audio
      src="{% static 'audio/zvon-kolokola-bez-nazvaniya.mp3' %}"
      id="audio"
      autoplay
      loop
      autobuffer
    ></audio>
    <script src="{% static 'js/audio.js' %}"></script>
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/slick-lib/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
  </body>
</html>
