{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Markers Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
  {{ markers|json_script:"markers-data" }}
  <div id="map"></div>
  <script>
    const attribution = '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    const map = L.map('map');
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: attribution }).addTo(map);

    const markers = JSON.parse(document.getElementById('markers-data').textContent);
    let feature = L.geoJSON(markers).bindPopup(function (layer) {
      return `<b>${layer.feature.properties.name}</b>${layer.feature.properties.description}Ссылка: <a href="http://127.0.0.1:8000/villages/${layer.feature.properties.village}">http://127.0.0.1:8000/villages/${layer.feature.properties.village}</a>`;
    }).addTo(map);

    let polyline;
    
    {% for m in markers_obj %}
      var latitude = "{{ m.location.0}}";
      var longitude = "{{ m.location.1}}";
      latitude = latitude.replace(',', '.');
      longitude = longitude.replace(',', '.');
      polyline = L.polyline([[54.33502534694437, 27.943756615343034], [parseFloat(longitude), parseFloat(latitude)]]).addTo(map)
    {% endfor %}

    map.fitBounds(feature.getBounds(), { padding: [100, 100] });
  </script>
</body>
</html>