{% extends 'main/base.html' %} {% load static %} {% block css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock css %} {% block content %} {% for m in monument_obj %}
<h2 class="monument-information-title">{{ m.name }}</h2>
<div class="monument-information">
  <div class="monument-information-text-image-container">
    {% if m.image %}
    <div class="monument-information-img-container">
      <img src="{{ m.image.url }}" class="monument-information-img" />
    </div>
    {% endif %}
    <div class="monument-information-text-container">
      {% autoescape off %} {{ m.description }} {% endautoescape %}
    </div>
  </div>
  {% endfor %} {% endblock content %}
</div>
