{% extends 'main/base.html' %} {% load static %} {% block css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock css %} {% block content %}
<h1 class="village-information-title">{{village_obj.name}}</h1>
<div class="village-images-items">
  {% for img in img_set %} {% if img.image %}
  <div class="village-images-item"><img src="{{img.image.url}}" /></div>
  {% endif %} {% endfor %}
</div>
<div class="village-information-text-container">
  {% autoescape off %}
  <p class="village-information-text">
    {{ village_obj.description }}
  </p>
  {% endautoescape %}
</div>
{% endblock content %}
