{% extends 'main/base.html' %} {% load static %} {% load i18n %} {% block css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
{% endblock css %} {% block content %}
<div class="main-search-container">
  <div class="search">
    <div class="search-field-main">
      <input
        type="search"
        list="villageslist"
        class="search-input-class-main"
        name="search-input-main"
        placeholder="{% trans 'Villages search' %}"
        oninput="handleSearchInputVillages(this.value)"
      />
      <datalist id="villageslist">
        {% for v in villages_obj %}
        <option
          value="{{v.name}}"
          data-link="{{ v.get_absolute_url }}"
        ></option>
        {% endfor %}
      </datalist>
    </div>
  </div>
</div>
<div class="villages-items">
  {% for v in object_list %}
  <div class="villages-item">
    <div class="card">
      <div class="front"><img src="{{ v.cover.url }}" /></div>
      <div class="back">
        <a href="{{ v.get_absolute_url }}">{{ v.name }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %} {% block footer %}
<footer>
  {% if is_paginated %}
  <div class="footer-container">
    <div class="pagination">
      <a
        href="{% if page_obj.has_previous %} {% url 'main:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
        class="{% if not object_list.has_previous %} disabled {% endif %}"
        >&laquo;</a
      >
      {% for page in paginator.page_range %} {% if page_obj.number == page %}
      <a class="active" href="{% url 'main:paginator' page %}">{{ page }}</a>
      {% else %}
      <a href="{% url 'main:paginator' page %}">{{ page }}</a>
      {% endif %} {% endfor %}
      <a
        href="{% if page_obj.has_next %} {% url 'main:paginator' page_obj.next_page_number %} {% else %} # {% endif %}"
        class="{% if not page_obj.has_next %} disabled {% endif %}"
        >&raquo;</a
      >
    </div>
  </div>
  {% endif %}
</footer>
{% endblock footer %}
